
  <form id="create-form" method="post" action="/">
    <input type="string" name="firstname" placeholder="firstname">
    <input type="string" name="lastname" placeholder="Lastname">
    <input type="string" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button id="submit" type="submit">Create!</button>
  </form>
 <!--  <div class="container">
</div> -->

<form id="signin-form" method="post" action="/login">
  <input type="string" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button id="signin" type="submit">Sign in</button>
</form>
