<div class="container new_survey">

  <form class="new_survey_form" method="post" action="/surveys/new" name="new_survey_form">
    <div>
     <h2>Create Survey</h2>
     <span class="required_notification">* Denotes Required Field</span>
   </div>
   <div>
    <label for="title">Survey title:</label>
    <input type="text" name="title" placeholder="Survey Title" />
  </div>
  <div>
    <label for="question">Question:</label>
    <textarea name="question" cols="60" rows="1" class="html-text-box" placeholder="Question Text"></textarea>
  </div>

  <div>
    <label for="choices">Choices:</label>
    <ul class="choices">
      <li id="option"><input type="text" name="1" placeholder="Choice 1">
      </li>



    </ul>
      <span><a id="add-option" href="#">Add Option</a></span>
  <div><input type="submit" value="Create Survey"></div>
</form>

</div>
